.upper-form-container {
    background-color: rgb(212, 151, 30);
}
.upper-form-container h2 {
    padding-top: 12px;
    font-size: 2.5rem;
}

.form-container {
    padding-bottom: 3%;
}

.form-container input {
    margin: 0 5px;
}

.main-container {
    display: flex;
    min-height: 100vh;
    position: relative;
    border-top: 1px solid black;
    background-color: #f9f3e4;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}

.movie-container {
    width: 65%;
    padding: 0 1%;
    /* border: 2px solid orange; */
}

.nominations-container {
    width: 35%;
    padding:0 5%;
    /* border: 2px solid yellow; */
}
.spinner {
    height: 30px;
}